.main_wrap{
    width: 90%;
    margin: 0 auto;
    padding-top: 30px;
}
.search_wrap{
    display: flex;
    gap: 20px;
    justify-content: center;
    background-color: #fff;
}
.search_wrap>input{
    width: 800px;
    height: 50px;
    padding-left: 10px;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 18px;
    background-color: #aaa;
}
.search_btn{
    width: 48px;
    height: 48px;
    border: none;
    cursor: pointer;
    background: none;
    background-image: url(../assets/searchmagnifierinterfacesymbol1_79893.png);
}